#wrapper {
  width: 600px;
  background-color: grey;
  margin-left: 280px;
  margin-top: 100px;
  overflow: auto;
  padding: 25px;
  }

h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size:44px;
}

#start {
  width: 220px;
  height: 50px;
  text-align: center;
  margin-left: 200px;
  vertical-align: center; 
  padding-top: 10px; 
  font-size: 30px;
  margin-bottom: 40px;
  font-family: 'Rubik', sans-serif;
  background-color: white;
}

input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}


#quiz {
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
}

.buttonlabel {
  font-size: 16px;
  max-width: 100%;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 30px;
  margin-right: 10px;
}

input.choice {
  margin: 5px;
}

img {
  margin-left: 120px;
}

body{
  background-color: black;
}

#submit {
  margin-left: 220px;
  width: 130px;
  height: 30px;
  background-color: white;
  text-align: center;
  padding: 10px;
}

#score {
  text-align:center;
}

#question {
  font-weight: bold;
}





  


